<div th:fragment="sideBarMenu">
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3> Menu </h3>
                <ul class="nav side-menu">
                  <li><a th:href="@{homeSimpleUser}"><i class="fa fa-home"></i> Home </a>
                  </li>
                 
                   <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                    <li><a th:href="@{chartsFromGroupsAndCharts}">Charts Share</a></li>
                      <li><a th:href="@{findChartByBtsName}"> 2G Charts</a></li>
                      
                       <li><a>3G CHARTS<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li><a th:href="@{G3HourlyAndDaily}">3G STATISTICS</a>
                            </li>
                            <li><a th:href="@{G3135}">3G STATISTICS-WBTS-Usage</a>
                            </li>
                          </ul>
                        </li>
                      <li><a th:href="@{G4Daily}"> 4G Charts</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              </div>
</div>